<%- include("../layouts/header", {title: 'Dados' }) %>

    <%- include("../layouts/menu") %>
        <div class="container_1">
            <h1>Gráfico de dados</h1>
            <br>
            <div class="container_tabela">
                <form action="/filtraDados/:idSensores/:dataInicial/:horaInicial/:dataFinal/:horaFinal" method="post">
                    <table>
                        <thead>
                            <tr class="item">
                                <th>ID Sensor</th>
                                <th>Data Inicial</th>
                                <th>Hora Inicial</th>
                                <th>Data Final</th>
                                <th>Hora Final</th>
                                <th>BUSCAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="item">
                                <td>
                                    <input type="text" name="idSensores" id="idSensores">
                                <td>
                                    <input type="date" name="dataInicial" id="dataInicial">
                                </td>
                                <td>
                                    <input type="time" name="horaInicial" id="horaInicial">
                                </td>
                                <td></label>
                                <input type="date" name="dataFinal" id="dataFinal">
                                </td>
                                <td>
                                    <input type="time" name="horaFinal" id="horaFinal">
                                </td>
                                <td>
                                    <input type="submit" value="Buscar">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </form>
                <canvas id="lineChart"></canvas>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                // Recupera os dados passados pela rota
                const chartData = JSON.parse('<%- chartData %>');

                // Criação do gráfico
                const ctx = document.getElementById('lineChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: chartData,

                });
            });
        </script>

        <%- include("../layouts/footer") %>