<%- include("../layouts/header", {title: 'Dados' }) %>

    <%- include("../layouts/menu") %>
        <div class="chart">
            <h1>Dados</h1>
            <form action="/filtraDados/:dataInicial/:horaInicial/:dataFinal/:horaFinal" method="post">
                <label for="dataInicial">Data Inicial</label>
                <input type="date" name="dataInicial" id="dataInicial">

                <label for="horaInicial">Hora Inicial</label>
                <input type="time" name="horaInicial" id="horaInicial">

                <label for="dataFinal">Data Final</label>
                <input type="date" name="dataFinal" id="dataFinal">

                <label for="horaFinal">Hora Final</label>
                <input type="time" name="horaFinal" id="horaFinal">

                <input type="submit" value="Buscar">
            </form>
            <canvas id="lineChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                // Recupera os dados passados pela rota
                const chartData = JSON.parse('<%- chartData %>');

                // Criação do gráfico
                const ctx = document.getElementById('lineChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: chartData,

                });
            });
        </script>

        <%- include("../layouts/footer") %>
