<%- include("../layouts/header", {title: 'Dados' }) %>

    <%- include("../layouts/menu") %>


        <div class="main">
            <div class="charts">
                <div class="chart">
                    <h2>Corrente do motor</h2>
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

        <script src="/public/javascripts/chart1.js"></script>

        <%- include("../layouts/footer") %>

        <!-- <html>
            <head>
              <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
              <script type='text/javascript'>
                google.charts.load('current', {'packages':['annotatedtimeline']});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                  var data = new google.visualization.DataTable();
                  data.addColumn('date', 'Date');
                  data.addColumn('number', 'Sold Pencils');
                  data.addColumn('string', 'title1');
                  data.addColumn('string', 'text1');
                  data.addColumn('number', 'Sold Pens');
                  data.addColumn('string', 'title2');
                  data.addColumn('string', 'text2');
                  data.addRows([
                    [new Date(2023, 10 ,1), 20, undefined, undefined, 20, undefined, undefined],
                    // [new Date(2008, 1 ,2), 14045, undefined, undefined, 20374, undefined, undefined],
                    // [new Date(2008, 1 ,3), 55022, undefined, undefined, 50766, undefined, undefined],
                    [new Date(2023, 10 ,3), 25, undefined, undefined, 25, 'Out of Stock','Ran out of stock on pens at 4pm'],
                    [new Date(2023, 10 ,5), 27, 'Bought Pens','Bought 200k pens', 30, undefined, undefined],
                //     [new Date(2008, 1 ,6), 33322, undefined, undefined, 39463, undefined, undefined]
                  ]);
          
                  var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
                  chart.draw(data, {displayAnnotations: true});
                }
              </script>
            </head>
          
            <body>
              // Note how you must specify the size of the container element explicitly!
              <div id='chart_div' style='width: 700px; height: 240px;'></div>
            </body>
          </html> -->
          