<div class="container">
    <div class="topbar">
      <div class="logo">
        <h2>Projeto Int. II</h2>
      </div>

      <div class="user">

      </div>
    </div>
    <div class="sidebar">
      <ul>
          <li>
              <a href="/tela">
                  <i class="fas fa-th-large"></i>
                  <div>TELA CONTROLE</div>
              </a>
          </li>
          <li>
              <a href="/dados">
                  <i class="fas fa-chart-line"></i>
                  <div>GRÁFICO DE DADOS</div>
              </a>
          </li>
          <li>
              <a href="/equipamento">
                  <i class="fas fa-solid fa-industry"></i>
                  <div>EQUIPAMENTOS</div>
              </a>
          </li>
          <li>
              <a href="/motores">
                  <i class="fas fa-solid fa-list"></i>
                  <div>MOTORES</div>
              </a>
          </li>
          <li>
              <a href="/sensores">
                  <i class="fas fa-list"></i>
                  <div>SENSORES</div>
              </a>
            </li>
            <li>
              <a href="/setor">
                <i class="fas fa-list"></i>
                <div>SETORES</div>
              </a>
          </li>
      </ul>
    </div>  
    </div>