<div class="container">
    <div class="topbar">
      <div class="logo">
        <h2>Projeto Int. II</h2>
      </div>
      <div class="search">
        <input type="text" id="search" placeholder="search here">
        <label for="search"><i class="fas fa-search"></i></label>
      </div>
      <i class="fas fa-bell"></i>
      <div class="user">
        <img src="https://avatars.githubusercontent.com/u/81826844?v=4" alt="">
        <i class="fas fa-caret-down"></i>
      </div>
    </div>
    <div class="sidebar">
      <ul>
          <li>
              <a href="#">
                  <i class="fas fa-th-large"></i>
                  <div>TELA CONTROLE</div>
              </a>
          </li>
          <li>
              <a href="/dados">
                  <i class="fas fa-chart-line"></i>
                  <div>GRÁFICO DE DADOS</div>
              </a>
          </li>
          <li>
              <a href="/equipamento">
                  <i class="fas fa-list"></i>
                  <div>LISTA EQUIPAMENTOS</div>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-users"></i>
                  <div>USUÁRIOS</div>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-chart-bar"></i>
                  <div>ANALISE DE DADOS</div>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-hand-holding-usd"></i>
                  <div>CUSTO</div>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-cog"></i>
                  <div>CONFIGURAÇÕES</div>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-question"></i>
                  <div>AJUDA</div>
              </a>
          </li>
      </ul>
    </div>  
    </div>