<div class="container">
    <div class="topbar">
      <div class="logo">
        <h2>Projeto Int. II</h2>
      </div>

      <div class="user">

      </div>
    </div>
    <div class="sidebar">
      <ul>
          <li>
              <a href="#">
                  <i class="fas fa-th-large"></i>
                  <div>TELA CONTROLE</div>
              </a>
          </li>
          <li>
              <a href="/dados">
                  <i class="fas fa-chart-line"></i>
                  <div>GRÁFICO DE DADOS</div>
              </a>
          </li>
          <li>
              <a href="/equipamentos">
                  <i class="fas fa-list"></i>
                  <div>LISTA EQUIPAMENTOS</div>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-users"></i>
                  <div>USUÁRIOS</div>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-chart-bar"></i>
                  <div>ANALISE DE DADOS</div>
              </a>
          </li>
      </ul>
    </div>  
    </div>