*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.topbar{
    position: fixed;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}

.logo h2{
    color: #1d12b9;
}

.search{
    position: relative;
    width: 60%;
    justify-self: center;
}

.search input{
    width: 100%;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}

.search i{
    position: absolute;
    right: 15px;
    top: 15%;
    cursor: pointer;
}

.user{
    position: relative;
    width: 50px;
    height: 50px;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*  sidebar starts here */

.sidebar{
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: #2766b9;
    overflow: hidden;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover{
    background: #fff;
}

.sidebar ul li:hover a{
    color: #44b867;
 }

.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

/* main starts here */

.main{
    position: absolute;
    top: 60px;
    left: 260px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 80px);
    background: #f5f5f5;
}

.container_1{
    position: absolute;
    top: 60px;
    left: 260px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 80px);
    background: #f5f5f5;
}

.container_1 h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0%;
    color: #1d12b9;
}

.coluna_1{
    width: 100%;
    padding: 20px 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.coluna_1 .coluna_conteudo{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0,0,0,0.08);
}

.coluna_1 .coluna_conteudo a{
    text-align: center;
    font-size: 30px;
    text-decoration: none;    
    color: #1d12b9;
}

/* ////////////////////////////////////////////////////////////////// */
.container_tabela {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
     
    margin: auto;
    background-color: rgb(245,242,242);
    padding: 2px 0;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
    box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
}

.container_tabela table{
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
}

.container_tabela table tr th{
    height: 56px;
    font-size: 16px;
    font-weight: 700;
   letter-spacing: .25px;
   text-align: left;
   padding: 0 10px;
}
.container_tabela table tr.item td{
    border-bottom: 1px solid #c8cacc;
    padding: 0 10px;
}
.container_tabela table tr.item{
    height: 55px;
}

.container_tabela table tr td {
    vertical-align: middle;
    width: 20%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.container_tabela #table tr td .button:hover{
    background-color: #dbdef6;
}

/* /////////////////////////////////////////////////////////////////// */
.cards{
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0,0,0,0.08);
}

.cards .card:hover{
   background: #1d12b9;
}

.cards .card:hover .number{
    color: #fff;
}

.cards .card:hover .card-name{
    color: #fff;
}

.cards .card:hover .icon-box i{
    color: #fff;
}

.number{
    font-size: 35px;
    font-weight: 500;
    color: #1d12b9;
}

.card-name{
    font-weight: 600;
    color: #888;
}

.icon-box i{
    font-size: 45px;
    color: #1d12b9;
}

/* chart starts here */
/* .charts{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
} */

.chart{   
    position: absolute;
    top: 60px;
    left: 260px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 80px);
    background: #f5f5f5;
}

.chart h1{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    color: #666;
    text-align: center;
}

.chart h2{
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center;
}
/* Responsive starts here */

@media (max-width: 1115px){
    .sidebar{
        width: 60px;
    }

    .main{
        left: 60px;
        width: calc(100% - 60px);
    }
}

@midea (max-width: 880px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .charts{
        grid-template-columns: 1fr;
    }

    #dougth-chart{
        padding: 50px;
    }
    .dougth{
        padding: 50px;
    }
}

@midea (max-width: 500px){
    .topbar{
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .logo h2{
        font-size: 20px;
    }
    .search{
        width: 80%;
    }
    .search input{
        padding: 0 20px;
    }
    .fa-bell{
        margin-right: 5px;
    }
    .user{
        width: 40px;
        height: 40px;
    }
    #dougth-chart{
        padding: 10px;
    }
    #dougth{
        padding: 0px;
    }
}