<%- include("../layouts/header", {title: 'Cadastro M.' }) %>

  <%- include("../layouts/menu") %>

    <div class="container_1">
      <div>
        <div>
          <h1>Cadastro de Motores</h1>
        </div>
        <div class="coluna_1">
          <div class="coluna_conteudo">
            <a href="/motores">Voltar</a>
          </div>
        </div>
      </div>
      <div class="container_tabela">
        <form action="/motoresNovo/:fabricante/:modelo/:potencia" method="POST">
          <table>
            <thead>
              <tr class="item">
                <th>Fabricante</th>
                <th>Modelo</th>
                <th>Potencia</th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td>
                  <input class="input" type="text" name="fabricante" placeholder="Informe o fabricante do motor"
                    required>
                </td>
                <td>
                  <input class="input" type="text" name="modelo" placeholder="Informe o modelo do Motor" required>
                </td>
                <td>
                  <input class="input" type="text" name="potencia" placeholder="Informe a potência do motor" required>
                </td>
                <td>
                  <button type="submit" class="button is-success">Cadastrar</button>
                </td>
            </tbody>
          </table>
        </form>
      </div>
    </div>

    <%- include("../layouts/footer") %>