<%- include("../layouts/header", {title: 'Cadastro equipamento' }) %>

  <%- include("../layouts/menu") %>

    <div class="container_1">
      <div>
        <div>
          <h1>Cadastro de equipamentoes</h1>
        </div>
        <div class="coluna_1">
          <div class="coluna_conteudo">
            <a href="/equipamento">Voltar</a>
          </div>
        </div>
      </div>
      <div class="container_tabela">
        <form action="/equipamentoNovo/:tagEquipamento/:idSetorEquipamento" method="POST">
          <table>
            <thead>
              <tr class="item">
                <th>TAG equipamento</th>
                <th>ID setor do Equipamento</th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td>
                  <input class="input" type="text" name="tagEquipamento" placeholder="Informe a tag do equipamento"
                    required>
                </td>
                <td>
                  <input class="input" type="text" name="idSetorEquipamento"
                    placeholder="Informe o ID do setor do equipamento" required>
                </td>
                <td>
                  <button type="submit" class="button is-success">Cadastrar</button>
                </td>
            </tbody>
          </table>
        </form>
      </div>
    </div>

    <%- include("../layouts/footer") %>